@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";

//Sass filer
@import "colors";
@import "image";
@import "font";
@import "size";

body{
  background-color: $legoYellow;
  background-image: $backgroundImg;
  font-family: $rubik;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .logo{
    width: 100%;
    max-width: 250px;
  }

  .cart{
    width: 100%;
    max-width: 60px;
  }
  
}

@mixin default-nav($bakground-color, $color){
  background-color: $bakground-color;
  color: $color;
}

nav{
  @include default-nav($legoRed, $legoWhite);
  text-transform: uppercase;
  width: 100%;
  display: flex;

  a{
    padding: .5rem 1rem;
    border-bottom: 5px solid $legoRed;
  }
}

h2{
  text-transform: uppercase;
  width: 100%;
  padding: 2rem;
}

@mixin default-main($background-color, $max-w){
  background-color: $background-color;
  max-width: $max-w;
  width: 100%;
}

main{
  @include default-main($legoWhite, $maxW);
  margin: 0 auto;
  padding-top: 1rem;
}

@mixin default-box($box-color, $max-w, $bk-color, $box-rem){
  color: $box-color;
  max-width: $max-w;
  width: 100%;
  background-color: $bk-color;
  padding: $box-rem;
}

.product-card{
  @include default-box($legoWhite, 300px, $legoBlack, 1rem);

  h3{
    text-transform: uppercase;
  }

  .shop-btn{
    background-color: $legoGreen;
    color: $legoWhite;
  }
}